.movieList {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.inputField {
  margin-right: 5px;
  border: none;
  margin-top: 2rem;
  font-size: 0.6rem;
  height: 15px;
}
